h1{
    background-color: bisque;
    text-align: center;
    line-height: 5rem;
    height: 5rem ;
}
.choice{
height: 300 px;
width: 200px;

}
img{
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}
.choice:hover{
    opacity: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem ;
    gap: 5rem;
    

}
#user-score,#comp-score{
     font-size: 4 rem;
     align-items: center;
     justify-content: centers;
     margin-left: 2rem;
}
#msg{
    background-color: #081b31;
  color: #fff;
    line-height: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
   

}
.msg-container{
    
    text-align: center;

}